<%= turbo_frame_tag dom_id(game) do %>
  <div style="padding-left:15px">
    <% @game.scores.each do |score| %>
      <p><%= score.team_name %>: <%= score.points %> points</p>
    <% end %>
  </div>
<% end %>
