<h1>Games#edit</h1>
<p>Find me in app/views/games/edit.html.erb</p>

<p>
  <%= link_to 'Back to index', games_path %>
</p>

<%= turbo_frame_tag dom_id(@game) do %>
  <div class='card card-body'>
    <%= render 'form_with_scores' %>
    <%= link_to 'Cancel', @game %>
  </div>

<% end %>
